<ion-view view-title="Your Tasks">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="task in tasks">
        <div class="card card-padding">
          <div class="item">
            <div class="col-80">{{task.pitch_number}} </div>
            <div class="col">{{task.hours}}</div>
          </div>
          <div class="item-content">
            {{task.name}}
            {{task.s_name}}
            {{task.task_name}}
            {{task.comments}}
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
